<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/home'"
      ></ion-back-button>
    </ion-buttons>
    <!--Title-->
    <ion-title *ngIf="isLoading === false">{{recipe.title}}</ion-title>
    <!--Save button-->
    <ion-button color="success" *ngIf="isLoading === false" slot="end" (click)="onSave()" style="padding-right: 1rem;"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<!--Main content-->
<ion-content>
  <div *ngIf="editInstructions; then thenTemplateName else elseTemplateName">
    Here is never showing
  </div>

  <ng-template #thenTemplateName>
    <!--Instructions tab-->
    <h1>Instructions</h1>
  </ng-template>

  <ng-template #elseTemplateName>
    <div class="inputForm">
      <!--Description tab-->
      <ion-list>
        <!--Title-->
        <ion-item>
          <ion-input label="Titre" type="text" [(ngModel)]="recipeTitle" text-right></ion-input>
        </ion-item>
        <!--Number Of Lunch-->
        <ion-item>
          <ion-input label="Nombre de Repas" type="number" [(ngModel)]="recipeNumberOfLunch" text-right></ion-input>
        </ion-item>
        <!--Category-->
        <ion-select style="margin-left: 1rem;" label="Catégorie" placeholder="Catégorie" [(ngModel)]="recipeCategory" label-placement="stacked">
          <ion-select-option value="Entree">Entrée</ion-select-option>
          <ion-select-option value="Plat">Plat</ion-select-option>
          <ion-select-option value="Dessert">Dessert</ion-select-option>
        </ion-select>
        <!--Duration-->
        <ion-item>
          <ion-input label="Durée (min)" type="number" [(ngModel)]="recipeDuration" text-right></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </ng-template>
</ion-content>

<!--Select Edit mode-->
<ion-footer>
  <ion-toolbar>
    <!--Tab selector-->
    <ion-segment value="description" (ionChange)="onChangeEditMode($event)">
      <ion-segment-button value="description">
        <ion-label>Description</ion-label>
      </ion-segment-button>
      <ion-segment-button value="instructions">
        <ion-label>Instructions</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>