<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/home'"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>TodoItems</ion-title>
    <ion-button [routerLink]="['/todoist/create']" slot="end" style="margin-right: 1rem;" color="success"><ion-icon name="add"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <cdk-virtual-scroll-viewport itemSize="48" minBufferPx="1500" maxBufferPx="1500">
      <ion-list slot="top">
        <ion-item-sliding *cdkVirtualFor="let todoitem of todoitems" #slidingTodoItem>
          <ion-item>
            <ion-label>{{todoitem.text}}</ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteTodoitem(todoitem._id, slidingTodoItem)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </cdk-virtual-scroll-viewport>

    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home']">
        <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
        <ion-label>Recettes</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/meal']">
        <ion-icon name="fast-food-outline" aria-hidden="true"></ion-icon>
        <ion-label>Repas</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/pantry/list']">
        <ion-icon name="storefront-outline" aria-hidden="true"></ion-icon>
        <ion-label>Garde Manger</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/todoist/list']">
        <ion-icon name="receipt" aria-hidden="true"></ion-icon>
        <ion-label>Todoist</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
