<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/home'"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Garde Manger</ion-title>
    <ion-button [routerLink]="['/pantry/create']" slot="end" style="margin-right: 1rem;" color="success"><ion-icon name="add"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-list slot="top">
      <ion-item-sliding *ngFor="let pantry of pantries" #slidingPantry>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Image de l'ingrédient" [src]="pantry.ingredientImage" />
          </ion-thumbnail>
          <ion-label>{{pantry.ingredientName}} - {{pantry.quantity}} {{pantry.quantityUnitOfMeasure}}</ion-label>
          <ion-icon *ngIf="pantry.frozen" name="snow-outline"></ion-icon>
          <ion-button *ngIf="pantry.expirationDate" (click)="updateExpirationDate(pantry.expirationDate)">{{pantry.expirationDate}}</ion-button>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deletePantry(pantry._id, slidingPantry)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home']">
        <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
        <ion-label>Recettes</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/meal']">
        <ion-icon name="fast-food-outline" aria-hidden="true"></ion-icon>
        <ion-label>Repas</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/pantry/list']">
        <ion-icon name="storefront" aria-hidden="true"></ion-icon>
        <ion-label>Garde Manger</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/todoist/list']">
        <ion-icon name="receipt-outline" aria-hidden="true"></ion-icon>
        <ion-label>Todoist</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
