<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/home'"
      ></ion-back-button>
    </ion-buttons>
    <!--Title-->
    <ion-title *ngIf="isLoading === false">{{recipe.title}}</ion-title>
    <!--Edit button-->
    <ion-button *ngIf="isLoading === false" slot="end" [routerLink]="['/recipe/edit/', recipe._id]" style="padding-right: 1rem;"><ion-icon name="settings-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <cdk-virtual-scroll-viewport itemSize="200" minBufferPx="150" maxBufferPx="1500" *ngIf="isLoading === false">
      <ion-list slot="top">
        <ion-item *cdkVirtualFor="let instruction of instructions">
          <ion-grid>
            <!--Instruction-->
            <ion-row>
              <ion-col>
                <ion-text>
                  <h2>
                    {{instruction.text}}
                  </h2>
                </ion-text>
              </ion-col>
            </ion-row>
            <!--Ingredients-->
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item *ngFor="let ingredient of instruction.composition">
                    <ion-thumbnail slot="start">
                      <img alt="Image de l'ingrédient" height="50px" width="50px" [src]="ingredient.imagePath"/>
                    </ion-thumbnail>
                    <ion-label>
                      {{ingredient.name}} - {{ingredient.quantity}} {{ingredient.unitOfMeasure}}
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </cdk-virtual-scroll-viewport>
  </ion-tabs>
</ion-content>
