<!--Side Menu-->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Filtre des recettes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-grid>
      <!--Search-->
      <ion-row>
        <ion-col>
          <ion-searchbar (ionChange)="search($event)"></ion-searchbar>
        </ion-col>
      </ion-row>
      <!--Sort-->
      <ion-row>
        <ion-col>
          <ion-segment value="random" (ionChange)="selectSort($event)">
            <ion-segment-button value="random">
              <ion-label>Hasard</ion-label>
            </ion-segment-button>
            <ion-segment-button value="numberOfTimeCooked">
              <ion-label>Populaire</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <!--Category-->
      <ion-row>
        <ion-col>
          <ion-segment value="Plat" (ionChange)="selectCategory($event)">
            <ion-segment-button value="Entree">
              <ion-label>Entrée</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Plat">
              <ion-label>Plat</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Dessert">
              <ion-label>Dessert</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <!--Tags-->
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let tag of tags">
              <ion-checkbox (ionChange)="selectTag($event)" slot="start" [value]="tag._id"></ion-checkbox>
              <ion-label>{{ tag.name }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-menu>

<!--Content-->
<div class="ion-page" id="main-content">
  <!--Header-->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Recettes</ion-title>
    </ion-toolbar>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  </ion-header>

  <!--Content-->
  <ion-content>
    <ion-tabs>
      <!--Recipe List-->
      <cdk-virtual-scroll-viewport itemSize="72" minBufferPx="1500" maxBufferPx="1500">
        <ion-list slot="top">
          <ion-item-sliding *cdkVirtualFor="let recipe of recipes" #slidingRecipe>
            <!--Recipe-->
            <ion-item [routerLink]="['/recipe/view/', recipe._id]">
              <ion-thumbnail slot="start">
                <img alt="Image de la recette" [src]="recipe.imagePath" />
              </ion-thumbnail>
              <ion-label>
                <ion-grid [fixed]="true">
                  <ion-row>
                    <ion-col size="auto">
                      {{recipe.title}}
                    </ion-col>
                    <ion-col *ngFor="let tag of recipe.tags" size="auto">
                      <img *ngIf="recipe.tags.length > 0" [src]="tag.image" width="50" height="50" />
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
            </ion-item>

            <!--Create Meal-->
            <ion-item-options side="end">
              <ion-item-option color="tertiary" (click)="createMeal(recipe._id, slidingRecipe)">
                <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </cdk-virtual-scroll-viewport>

      <!--Bottom Tab Bar-->
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/home']">
          <ion-icon name="library" aria-hidden="true"></ion-icon>
          <ion-label>Recettes</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/meal']">
          <ion-icon name="fast-food-outline" aria-hidden="true"></ion-icon>
          <ion-label>Repas</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/pantry/list']">
          <ion-icon name="storefront-outline" aria-hidden="true"></ion-icon>
          <ion-label>Garde Manger</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/todoist/list']">
          <ion-icon name="receipt-outline" aria-hidden="true"></ion-icon>
          <ion-label>Todoist</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>
